---
import Navigation from "./Navigation.astro"
---

<header class="flex justify-between items-center p-[30px] bg-blue-500 shadow-xl">
    <h2 class="text-[32px] font-bold text-white shadow-xl">ASTRO</h2>
    <Navigation/>
</header>