---
import Image from "astro/components/Image.astro"
import astroImage from "../../assets/astro.svg"
---

<footer class="flex justify-around items-center p-[20px] bg-blue-500 shadow-xl">
    <Image src={astroImage} alt="astro logo"/>
    <h2 class="text-[24px] text-white shadow-lg font-bold">by BUDAPEST</h2>
</footer>